@import "taro-ui-vue3/dist/style/components/swipe-action.scss";

.index{
  text{
    font-size: 80px;
  }
}
.at-list__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text {
    width: 25%;
  }
}

.j_name{
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}

.j_date{
  font-size: 24px;
  color: #999;
  margin-bottom: 10px;
}

.j_amount{
  font-size: 40px;
  color: #999;
  margin-bottom: 10px;
  margin-right: 0;
}

.day_info{
  background-color: rgba(219, 225, 222, 0.3);
}
